* {
    border: 0px;
    padding: 0px;
    margin: 0px;
}
.sqlHome {
    display: flex;
    height: 800px;
}

.sqlHome .sql-nev {
    border: 1px solid;
    width: 200px;
    height: 800px;
}

.sqlHome .sql-body {
    border: solid 1px;
    width: 1200px;
    height: 800px;
}