.item ul{
    list-style: none;
    margin: auto;
    width: 400px;
    height: 30px;
    line-height: 30px;
}

.item li {
    width: 400px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.item button{
    background-color: brown;
}

.item span{
    margin-left: 5px;
}
