.App {
    position: relative;
    width: 921px;
    height: 1048px;
    text-align: center;
    align-items: center;

    /* Brand/White */

    background: #FFFFFF;
}

*{
    margin: 0px;
    padding: 0px;
}