.appBody {
    list-style-type: none;
    text-align: left;
    padding-inline-start: 0px;
    width: 350px;
    margin: auto;
    margin-bottom: 10px;
}
li button {
    background-color: rgb(255, 0, 0);
    height: 30px; width: 60px;
    
}
.item {
    list-style-type: none;
}

li {
    text-align: left;
    margin-left: 290px;
    width: 350px;
    margin-bottom: 5px;
}

li span {
    font-size: 19px;
    color: rgb(110, 58, 9);
}